@model HomeIndexMauHopDongVM

@{
    ViewData["Title"] = "Index";
}
<h1>Trang này dành cho nhân viên phòng nhân sự (và các tác nhân kế thừa)</h1>

<h1>Danh sách mẫu hợp đồng lao động</h1>

<p>

    <a asp-action="CreateMauHopDong" class="btn btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Tạo mẫu hợp đồng mới
    </a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Mã mẫu hợp đồng
            </th>
            <th>
                Tên mẫu hợp đồng
            </th>
            <th>
                Ngày gửi mẫu hợp đồng
            </th>


            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.mauHopDongVMs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaMauHopDong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMauHopDong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGuiMauHopDong)
                </td>

                <td>


                    <a asp-action="DetailsMauHopDong" class="btn btn-info" asp-route-id="@item.MaMauHopDong">
                        &nbsp;<i class="fas fa-info" aria-hidden="true"></i>&nbsp;
                        Chi tiết
                    </a>
                    <a asp-action="DownloadMauHopDongLaoDong" class="btn btn-outline-dark" asp-route-Filename="@item.ViTriLuuMauHopDong">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Tải về
                    </a>
                    @if (User.IsInRole("Quản trị viên") || User.IsInRole("Trưởng phòng nhân sự"))
                    {
                        <a asp-action="EditMauHopDong" class="btn btn-warning" asp-route-id="@item.MaMauHopDong">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            Chỉnh sửa
                        </a>
                        <a asp-action="DeleteMauHopDong" class="btn btn-danger" asp-route-id="@item.MaMauHopDong" onclick="return confirm('Bạn chắc chắn muốn xóa mẫu hợp đồng này?')">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                            Xóa
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Quản lý hợp đồng lao động</h1>
<br />

<table id="TABLE_1" class="table">
    <thead>
        <tr>
            <th>
                Ảnh
            </th>
            <th>
                Tên
            </th>

            <th>
                Email
            </th>

            <th>
                Xem hợp đồng
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EmployeeVMs)
        {
            <tr>
                <td>

                    <img src="~/images/@item.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                </td>
                <td>

                    <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@item.Id" target="_blank">
                        @Html.DisplayFor(modelItem => item.LastName)
                        @Html.DisplayFor(modelItem => item.MiddleName)
                        @Html.DisplayFor(modelItem => item.FirstName)

                        &nbsp;
                        <span style="font-size: 0.5rem;">
                            <i class="fas fa-external-link-alt fa-sm"></i>
                        </span>
                    </a>

                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>


                <td>
                    <a asp-controller="HopDongLaoDong" asp-action="Index" class="btn btn-outline-info" asp-route-id="@item.Id">
                        <i class="fa fa-info" aria-hidden="true"></i>
                        &nbsp;Xem hợp đồng
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>


