@model EmployeeYeuCauDatLuongCoBanViewVM
@using leave_management.GeneralData
@{
    ViewData["Title"] = "My Request";
}

<h2>Trang này dành cho nhân viên phòng nhân sự</h2>

<h1>Danh sách yêu cầu đặt lương đã gửi</h1>
<hr />

@*@foreach (var item in Model.LeaveAllocations)
    {
        <div class="card bg-light" title=@Model.LeaveTypesInfo.FirstOrDefault(q => q.Id == item.LeaveTypeId).Comments>
            <div class="card-body">
                @Html.DisplayFor(modelItem => item.LeaveType.Name) <span class="badge badge-primary"> @item.NumberOfDays </span>
                <i class="fa fa-info-circle" aria-hidden="true" title="@Model.LeaveTypesInfo.FirstOrDefault(q => q.Id == item.LeaveTypeId).Comments" ></i>

            </div>

        </div>
        <br />
    }*@


<p>
    <a asp-action="ChooseEmployee"  class="btn btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Gửi yêu cầu đặt lương
    </a>
</p>
<table class="table tblData">
    <thead>
        <tr>
            <th>
                Nhân viên được đặt lương
            </th>
            <th>
                Mức lương
            </th>

            <th>
                Ngày yêu cầu
            </th>

            <th>
                Trạng thái
            </th>

            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.YeuCauDatLuongCoBans)
        {
            <tr>
                <td>
                    <img src="~/images/@item.NhanVienDuocDatLuong.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                    @Html.DisplayFor(modelItem => item.NhanVienDuocDatLuong.LastName)
                    @Html.DisplayFor(modelItem => item.NhanVienDuocDatLuong.MiddleName)
                    @Html.DisplayFor(modelItem => item.NhanVienDuocDatLuong.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.MucLuongCoBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianGuiYeuCau)
                </td>



                <td>
                    @if (item.TinhTrangPheDuyet == Data.YeuCauDatLuongCoBanStatusString[Data.YeuCauDatLuongCoBanStatus.DaBiHuy])
                    {
                        <span class="badge badge-secondary">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            Đã hủy
                        </span>
                    }
                    else if (item.TinhTrangPheDuyet == Data.YeuCauDatLuongCoBanStatusString[Data.YeuCauDatLuongCoBanStatus.DaDuocChapThuan])
                    {
                        <span class="badge badge-success">
                            <i class="fa fa-check"></i>
                            Đã được chấp thuận
                        </span>
                    }
                    else if (item.TinhTrangPheDuyet == Data.YeuCauDatLuongCoBanStatusString[Data.YeuCauDatLuongCoBanStatus.DaBiTuChoi])
                    {
                        <span class="badge badge-danger">
                            <i class="fa fa-times"></i>
                            Đã bị từ chối
                        </span>
                    }
                    else if (item.TinhTrangPheDuyet == Data.YeuCauDatLuongCoBanStatusString[Data.YeuCauDatLuongCoBanStatus.DangCho])
                    {
                        <span class="badge badge-warning">
                            <i class="fa fa-clock-o"></i>
                            Đang chờ
                        </span>
                    }
                </td>


                <td>
                    @if (item.TinhTrangPheDuyet == Data.YeuCauDatLuongCoBanStatusString[Data.YeuCauDatLuongCoBanStatus.DangCho])
                    {
                        <a asp-action="Cancelled" title="Cancelled" class="btn btn-danger" asp-route-id="@item.MaYeuCau" onclick="return confirm('Bạn có chắc bạn muốn hủy yêu cầu này?')">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            Hủy
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>



