@model leave_management.Models.ViewAllocationsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Hồ sơ nhân viên</h1>

<div>
    <h4>Nhân viên: @Model.Employee.FirstName @Model.Employee.LastName</h4>
    <hr />
    <a asp-action="Index" class="btn btn-outline-dark col-md-12">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại danh sách nhân viên
    </a>
    <hr />

    <a asp-action="EditEmployee" class="btn btn-warning" asp-route-id="@Model.Employee.Id">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        Chỉnh sửa hồ sơ
    </a>
    <a asp-controller="HopDongLaoDong" asp-action="Index" class="btn btn-warning" asp-route-id="@Model.Employee.Id">
        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        Quản lý hợp đồng lao động
    </a>
    <hr />

    @Html.DisplayNameFor(model => model.Employee.ProfileImage)
    <br />
    <img src="~/images/@Model.Employee.ProfilePicture"
         class="rounded-circle"
         height="100" width="100"
         asp-append-version="true" />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.TaxtId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.TaxtId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateJoined)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.GioiTinh)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Employee.GioiTinh == true)
            {
                <span>Nam</span>
            }
            else
            {
                <span>Nữ</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.NoiSinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.NoiSinh)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DiaChiTamTru)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DiaChiTamTru)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DiaChiLienLac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DiaChiLienLac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.NoiSinh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.NoiSinh)
        </dd>

        <!--Chức vụ
        Chuyên môn
        Phòng ban
        Hợp đồng-->

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MaChucVu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.ChucVu.TenChucVu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MaChuyenMon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.ChuyenMon.TenChuyenMon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MaPhongBan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhongBan.TenPhongBan)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.MucLuongCoBan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.MucLuongCoBan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LoaiNhanVien)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LoaiNhanVien)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.NhanVienThemVaoHeThong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.NhanVienThemVaoHeThong.LastName)
            @Html.DisplayFor(model => model.Employee.NhanVienThemVaoHeThong.MiddleName)
            @Html.DisplayFor(model => model.Employee.NhanVienThemVaoHeThong.FirstName)

        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.VaiTroTrenHeThong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.VaiTroTrenHeThong.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.SoCMND)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.SoCMND)
        </dd>



    </dl>
</div>


<hr />

<h2>Phân bổ nghỉ phép</h2>
<div class="card col-md-12" @*style="width: 18rem;"*@>
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.LeaveAllocations)
        {
            <li class="list-group-item card text-center ">
                @item.LeaveType.Name <span class="badge badge-secondary">@item.NumberOfDays</span>
                <a asp-action="EditLeaveAllocation" asp-route-id="@item.Id" class="btn btn-outline-warning">
                    <i class="fa fa-pencil" ></i> Chỉnh sửa
                </a>
            </li>
        }
    </ul>
</div>


