@model leave_management.Models.EditEmployeeVM

@{
    ViewData["Title"] = "Chỉnh sửa hồ sơ nhân viên";
}

<h1>Chỉnh sửa hồ sơ nhân viên</h1>
<h3>
    Nhân viên:
    <img src="~/images/@Model.ProfilePicture"
         class="rounded-circle"
         height="60" width="60"
         asp-append-version="true" />
    @Model.LastName
    @Model.MiddleName
    @Model.FirstName
</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="EditEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxtId" class="control-label"></label>
                <input asp-for="TaxtId" class="form-control" />
                <span asp-validation-for="TaxtId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <strong>@Html.DisplayNameFor(model => model.GioiTinh) </strong>
                <label class="form-check-label">
                    &nbsp; Nam  &nbsp; @Html.RadioButtonFor(m => m.GioiTinh, true) &nbsp; &nbsp;
                </label>
                <label class="form-check-label">
                    &nbsp;  &nbsp; Nữ  &nbsp; @Html.RadioButtonFor(m => m.GioiTinh, false)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NoiSinh" class="control-label"></label>
                <input asp-for="NoiSinh" class="form-control" />
                <span asp-validation-for="NoiSinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiTamTru" class="control-label"></label>
                <input asp-for="DiaChiTamTru" class="form-control" />
                <span asp-validation-for="DiaChiTamTru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiLienLac" class="control-label"></label>
                <input asp-for="DiaChiLienLac" class="form-control" />
                <span asp-validation-for="DiaChiLienLac" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaChucVu" class="control-label"></label>
                @Html.DropDownListFor(q => q.MaChucVu, new SelectList(Model.CacChucVu, "Value", "Text"), "Chọn chức vụ", new { @class = "form-control" })
                <span asp-validation-for="MaChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaChuyenMon" class="control-label"></label>
                @Html.DropDownListFor(q => q.MaChuyenMon, new SelectList(Model.CacChuyenMon, "Value", "Text"), "Chọn chuyên môn", new { @class = "form-control" })
                <span asp-validation-for="MaChuyenMon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaPhongBan" class="control-label"></label>
                @Html.DropDownListFor(q => q.MaPhongBan, new SelectList(Model.CacPhongBan, "Value", "Text"), "Chọn phòng ban", new { @class = "form-control" })
                <span asp-validation-for="MaPhongBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiNhanVien" class="control-label"></label>
                @Html.DropDownListFor(q => q.LoaiNhanVien, new SelectList(Model.CacLoaiNhanVien), "Chọn loại nhân viên", new { @class = "form-control" })
                <span asp-validation-for="LoaiNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaVaiTroTrenHeThong" class="control-label"></label>
                @Html.DropDownListFor(q => q.MaVaiTroTrenHeThong, new SelectList(Model.CacVaiTro, "Value", "Text"), "Chọn vai trò", new { @class = "form-control" })
                <span asp-validation-for="MaVaiTroTrenHeThong" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SoCMND" class="control-label"></label>
                <input asp-for="SoCMND" class="form-control" />
                <span asp-validation-for="SoCMND" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProfileImage" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="ProfileImage" class="custom-file-input" id="customFile" accept="image/*">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>
            </div>

            @*<div class="form-group">
            <label asp-for="ProfileImage" class="control-label"></label>
            <input asp-for="ProfileImage" type="file"/>
            <span asp-validation-for="ProfileImage" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  