@model AdminLeaveRequestViewVM

@using Microsoft.AspNetCore.Identity
@using leave_management.Data 

@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yêu cầu nghỉ phép</title>
</head>
<body>

    <br />

    <h1>Trang này dành cho trưởng phòng</h1>
    <hr />
    @if (!User.IsInRole("Quản trị viên"))
    {
        <h3>
            Phòng ban: @Model.PhongBan.TenPhongBan
        </h3>
        <h3>
            Trưởng phòng:

            <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@Model.TruongPhong.Id" target="_blank">

                <img src="~/images/@Model.TruongPhong.ProfilePicture"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
                @Model.TruongPhong.FirstName
                @Model.TruongPhong.MiddleName
                @Model.TruongPhong.LastName

                &nbsp;
                <span style="font-size: 0.5rem;">
                    <i class="fas fa-external-link-alt fa-sm"></i>
                </span>
            </a>

            
        </h3>
        <hr />

    }
    &nbsp;
    <a asp-controller="LeaveTypes" asp-action="Index" class="btn btn-outline-info">
        <i class="fa fa-list" aria-hidden="true"></i>
        &nbsp;Quản lý các loại nghỉ phép
    </a>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-tachometer-alt"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">@Html.DisplayNameFor(model => model.TotalRequests)</span>
                    <span class="info-box-number">@Model.TotalRequests</span>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="fas fa-exclamation-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text ">@Html.DisplayNameFor(model => model.PendingRequests)</span>
                    <span class="info-box-number">@Model.PendingRequests</span>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="far fa-check-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text ">@Html.DisplayNameFor(model => model.ApprovedRequets)</span>
                    <span class="info-box-number ">@Model.ApprovedRequets</span>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-secondary"><i class="fa fa-ban"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text ">@Html.DisplayNameFor(model => model.CancelledRequests)</span>
                    <span class="info-box-number ">@Model.CancelledRequests</span>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fa fa-minus-circle"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text ">@Html.DisplayNameFor(model => model.RejectedRequests)</span>
                    <span class="info-box-number text-danger">@Model.RejectedRequests</span>
                </div>
            </div>

        </div>
    </div>

    <br />



    <hr />
    <h1>Danh sách yêu cầu nghỉ phép</h1>

    <table id="tblData" class="table">
        <thead>
            <tr>

                <th>
                    Tên nhân viên
                </th>
                <th>
                    Ngày bắt đầu
                </th>
                <th>
                    Ngày kết thúc
                </th>
                <th>
                    Loại nghỉ phép
                </th>
                <th>
                    Ngày yêu cầu
                </th>

                <th>
                    Trạng thái
                </th>

                <th>
                    Hành động
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.LeaveRequests)
            {
                <tr>
                    <td>
                        <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@item.RequestingEmployee.Id" target="_blank">


                            <img src="~/images/@item.RequestingEmployee.ProfilePicture"
                                 class="rounded-circle"
                                 height="40" width="40"
                                 asp-append-version="true" />
                            @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
                            @Html.DisplayFor(modelItem => item.RequestingEmployee.MiddleName)
                            @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName)

                            &nbsp;
                            <span style="font-size: 0.5rem;">
                                <i class="fas fa-external-link-alt fa-sm"></i>
                            </span>
                        </a>

                        
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRequested)
                    </td>

                    <td>
                        @if (item.Cancelled == true)
                        {
                            <span class="badge badge-secondary">
                                <i class="fa fa-ban" aria-hidden="true"></i>
                                Đã hủy
                            </span>
                        }
                        else if (item.Approved == true && item.StartDate.CompareTo(DateTime.Now) <= 0)
                        {
                            <span class="badge badge-primary">
                                <i class="fa fa-check"></i>
                                Đã được thực thi
                            </span>
                        }
                        else if (item.Approved == true)
                        {
                            <span class="badge badge-success">
                                <i class="fa fa-check"></i>
                                Đã được chấp thuận
                            </span>
                        }
                        else if (item.Approved == false)
                        {
                            <span class="badge badge-danger">
                                <i class="fa fa-times"></i>
                                Đã bị từ chối
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-warning">
                                <i class="fa fa-clock" aria-hidden="true"></i>
                                Đang chờ
                            </span>


                        }
                    </td>

                    <td>
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa fa-file"></i>
                            Chi tiết
                        </a>
                        @if (User.IsInRole("Quản trị viên"))
                        {
                            <a asp-action="Delete" title="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Bạn chắc chắn muốn xóa yêu cầu nghỉ phép này?')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Xóa
                            </a>
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
