@model leave_management.Models.GiayToTuyThanVM

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết giấy tờ tùy thân</h1>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class="col-sm-10">

            <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@Model.NhanVien.Id" target="_blank">

                <img src="~/images/@Model.NhanVien.ProfilePicture"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
                @Html.DisplayFor(model => model.NhanVien.LastName)
                @Html.DisplayFor(model => model.NhanVien.MiddleName)
                @Html.DisplayFor(model => model.NhanVien.FirstName)

                &nbsp;
                <span style="font-size: 0.5rem;">
                    <i class="fas fa-external-link-alt fa-sm"></i>
                </span>
            </a>

            
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiGiayTo.TenLoaiGiayTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoaiGiayTo.TenLoaiGiayTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLuuVaoHeThong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayLuuVaoHeThong)
        </dd>




        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVienGui)
        </dt>
        <dd class="col-sm-10">

            <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@Model.NhanVienGui.Id" target="_blank">

                <img src="~/images/@Model.NhanVienGui.ProfilePicture"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
                @Html.DisplayFor(model => model.NhanVienGui.LastName)
                @Html.DisplayFor(model => model.NhanVienGui.MiddleName)
                @Html.DisplayFor(model => model.NhanVienGui.FirstName)

                &nbsp;
                <span style="font-size: 0.5rem;">
                    <i class="fas fa-external-link-alt fa-sm"></i>
                </span>
            </a>

            
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiGiayTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoaiGiayTo.TenLoaiGiayTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        @if (Model.MaNhanVienChinhSuaLanCuoi != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NhanVienChinhSuaLanCuoi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NhanVienChinhSuaLanCuoi.LastName)
                @Html.DisplayFor(model => model.NhanVienChinhSuaLanCuoi.MiddleName)
                @Html.DisplayFor(model => model.NhanVienChinhSuaLanCuoi.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ThoiGianChinhSuaLanCuoi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ThoiGianChinhSuaLanCuoi)
            </dd>
        }
        


    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-id="@Model.MaNhanVien" class="btn btn-outline-dark">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại danh sách hợp đồng
    </a>
 

    <a asp-action="DownloadGiayToTuyThan" class="btn btn-outline-dark" asp-route-Filename="@Model.ViTriLuuBanScan">
        <i class="fa fa-download" aria-hidden="true"></i>
        Tải về
    </a>

    @*<a asp-controller="GiayToTuyThan" asp-action="Details" class="btn btn-info" asp-route-employeeId="@item.MaNhanVien" asp-route-maLoaiGiayTo="@item.MaLoaiGiayTo">
        &nbsp;<i class="fas fa-info" aria-hidden="true"></i>&nbsp;
        Chi tiết
    </a>*@


    @if (User.IsInRole("Quản trị viên") || User.IsInRole("Nhân viên phòng nhân sự") || User.IsInRole("Trưởng phòng nhân sự"))
    {
        <a asp-controller="GiayToTuyThan" asp-action="Edit" class="btn btn-warning" asp-route-employeeId="@Model.MaNhanVien" asp-route-maLoaiGiayTo="@Model.MaLoaiGiayTo">
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
            Chỉnh sửa
        </a>
    }
    @if (User.IsInRole("Quản trị viên") || User.IsInRole("Trưởng phòng nhân sự"))
    {
        <a asp-controller="GiayToTuyThan" asp-action="Delete" class="btn btn-danger" asp-route-employeeId="@Model.MaNhanVien" asp-route-maLoaiGiayTo="@Model.MaLoaiGiayTo" onclick="return confirm('Bạn chắc chắn muốn xóa hợp đồng này?')">
            <i class="fas fa-trash" aria-hidden="true"></i>
            Xóa
        </a>
    }
</div>
