@model leave_management.Models.CreateEditGiayToTuyThanVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa bản scan hợp đồng lao động</h1>
<hr />
<h3>
    Nhân viên:

    <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@Model.NhanVien.Id" target="_blank">

        <img src="~/images/@Model.NhanVien.ProfilePicture"
             class="rounded-circle"
             height="60" width="60"
             asp-append-version="true" />
        @Model.NhanVien.LastName
        @Model.NhanVien.MiddleName
        @Model.NhanVien.FirstName

        &nbsp;
        <span style="font-size: 0.5rem;">
            <i class="fas fa-external-link-alt fa-sm"></i>
        </span>
    </a>

   

</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="MaLoaiGiayTo" type="hidden" class="form-control" />
                <input asp-for="MaNhanVien" type="hidden" class="form-control" />
                <input asp-for="NgayLuuVaoHeThong" type="hidden" class="form-control" />
                <input asp-for="ViTriLuuBanScan" type="hidden" class="form-control" />
                <input asp-for="MaNhanVienGui" type="hidden" class="form-control" />

            </div>

            <div class="form-group">
                <label asp-for="GhiChu" class="control-label"></label>
                <input asp-for="GhiChu" class="form-control" />
                <span asp-validation-for="GhiChu" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FileGiayToTuyThanScan" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="FileGiayToTuyThanScan" class="custom-file-input" id="customFile" accept="application/pdf">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span asp-validation-for="FileGiayToTuyThanScan" class="text-danger"></span>
                </div>
            </div>


            @*<div class="form-group">
            <label asp-for="MaLoaiGiayTo" class="control-label"></label>
            @Html.DropDownListFor(q => q.MaMauGiayToTuyThan, new SelectList(Model.MauGiayToTuyThans, "Value", "Text"), "Chọn Mẫu hợp đồng", new { @class = "form-control" })
            <span asp-validation-for="MaMauGiayToTuyThan" class="text-danger"></span>
        </div>*@




            <div class="form-group">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.MaNhanVien">Quay lại danh sách giấy tờ tùy thân</a>
</div>

@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  