@model IEnumerable<leave_management.Models.EmployeeVM>

@{

}
<h1>Quản lý giấy tờ tùy thân</h1>
<hr />

<h2>Trang này dành cho nhân viên phòng nhân sự (và các tác nhân kế thừa).</h2>
<hr />

<br />
<h1>Danh sách nhân viên</h1>
<br />

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Ảnh
            </th>
            <th>
               Tên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaChuyenMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaiTroTrenHeThong)
            </th>
            <th>
                Hành động
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    <img src="~/images/@item.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                </td>
                <td>

                    <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@item.Id" target="_blank">


                        @Html.DisplayFor(modelItem => item.LastName)
                        @Html.DisplayFor(modelItem => item.MiddleName)
                        @Html.DisplayFor(modelItem => item.FirstName)

                        &nbsp;
                        <span style="font-size: 0.5rem;">
                            <i class="fas fa-external-link-alt fa-sm"></i>
                        </span>
                    </a>

                   
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhongBan.TenPhongBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuyenMon.TenChuyenMon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VaiTroTrenHeThong.Name)
                </td>

                <td>
                    <a asp-action="Index" class="btn btn-outline-info" asp-route-id="@item.Id">
                        <i class="fa fa-info" aria-hidden="true"></i>
                        &nbsp;Xem giấy tờ tùy thân
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>



