@model ListGiayToTuyThanVM

@{
    ViewData["Title"] = "Index";
}

<h1>Trang này dành cho nhân viên phòng nhân sự (và các tác nhân kế thừa)</h1>
<hr />
<h1>Quản lý Giấy tờ tùy thân</h1>
<hr />
<h3>
    Nhân viên:

    <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@Model.NhanVien.Id" target="_blank">



        <img src="~/images/@Model.NhanVien.ProfilePicture"
             class="rounded-circle"
             height="60" width="60"
             asp-append-version="true" />
        @Model.NhanVien.LastName
        @Model.NhanVien.MiddleName
        @Model.NhanVien.FirstName

        &nbsp;
        <span style="font-size: 0.5rem;">
            <i class="fas fa-external-link-alt fa-sm"></i>
        </span>
    </a>

    
</h3>


<a asp-controller="Employee" asp-action="Details" asp-route-id="@Model.NhanVien.Id" class="btn btn-outline-dark col-md-12">
    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
    Quay lại hồ sơ nhân viên
</a>
<hr />
<p>

    @if (!User.IsInRole("Nhân viên") && !User.IsInRole("Trưởng phòng") && !User.IsInRole("Kế toán"))
    {
        <a asp-controller="GiayToTuyThan" asp-action="Create" asp-route-employeeId="@Model.NhanVien.Id" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Tải lên bản giấy tờ tùy thân mới
        </a>
    }
</p>

<table id="tblData" class="table">
    <thead>
        <tr>

            <th>
                Mã loại giấy tờ
            </th>
            <th>
                Loại giấy tờ
            </th>
            <th>
                Ngày lưu vào hệ thống
            </th>
            <th>
                Bản scan
            </th>

            <th>
                Nhân viên gửi
            </th>

            <th>
                Hành động
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GiayToTuyThanVMs)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.MaLoaiGiayTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiGiayTo.TenLoaiGiayTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLuuVaoHeThong)
                </td>
                <td>
                    <a asp-action="DownloadGiayToTuyThan" class="btn btn-outline-dark" asp-route-Filename="@item.ViTriLuuBanScan">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Tải về
                    </a>
                </td>

                <td>

                    <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@item.NhanVienGui.Id" target="_blank">



                        <img src="~/images/@item.NhanVienGui.ProfilePicture"
                             class="rounded-circle"
                             height="40" width="40"
                             asp-append-version="true" />
                        @Html.DisplayFor(modelItem => item.NhanVienGui.LastName)
                        @Html.DisplayFor(modelItem => item.NhanVienGui.MiddleName)
                        @Html.DisplayFor(modelItem => item.NhanVienGui.FirstName)

                        &nbsp;
                        <span style="font-size: 0.5rem;">
                            <i class="fas fa-external-link-alt fa-sm"></i>
                        </span>
                    </a>

                   
                </td>

                <td>
                   
                    <a asp-controller="GiayToTuyThan" asp-action="Details" class="btn btn-info" asp-route-employeeId="@item.MaNhanVien" asp-route-maLoaiGiayTo="@item.MaLoaiGiayTo">
                        &nbsp;<i class="fas fa-info" aria-hidden="true"></i>&nbsp;
                        Chi tiết
                    </a>


                    @if (User.IsInRole("Quản trị viên") || User.IsInRole("Nhân viên phòng nhân sự") || User.IsInRole("Trưởng phòng nhân sự"))
                    {
                        <a asp-controller="GiayToTuyThan" asp-action="Edit" class="btn btn-warning" asp-route-employeeId="@item.MaNhanVien" asp-route-maLoaiGiayTo="@item.MaLoaiGiayTo">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            Chỉnh sửa
                        </a>
                    }
                    @if (User.IsInRole("Quản trị viên") || User.IsInRole("Trưởng phòng nhân sự"))
                    {
                        <a asp-controller="GiayToTuyThan" asp-action="Delete" class="btn btn-danger" asp-route-employeeId="@item.MaNhanVien" asp-route-maLoaiGiayTo="@item.MaLoaiGiayTo" onclick="return confirm('Bạn chắc chắn muốn xóa hợp đồng này?')">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                            Xóa
                        </a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
