@model leave_management.Models.ChamCongVMList

@{
    ViewData["Title"] = "Index";
}

<h1>Trang này dành cho trưởng phòng nhân sự</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group">
                    <label asp-for="ViewForm.CurrentYear" class="control-label"></label>
                    @Html.DropDownListFor(q => q.ViewForm.CurrentYear, new SelectList(Model.Years, "Value", "Text"), "Chọn năm", new { @class = "form-control" })
                    <span asp-validation-for="ViewForm.CurrentYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ViewForm.CurrentMonth" class="control-label"></label>
                    @Html.DropDownListFor(q => q.ViewForm.CurrentMonth, new SelectList(Model.MonthsInYear, "Value", "Text"), "Chọn tháng", new { @class = "form-control" })
                    <span asp-validation-for="ViewForm.CurrentMonth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Xem" class="btn btn-primary btn-block" />
                </div>
            </div>

            
        </form>
    </div>
</div>

<hr />


<hr />
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Ảnh
            </th>
            <th>
                Nhân viên
            </th>

            <th>
                Tổng thời gian làm đã tích lũy
            </th>
            <th>
                Tổng tiền lương cơ bản (basic) đã tích lũy
            </th>
            <th>
                Tổng tiền thưởng (bonus) đã tích lũy
            </th>
            <th>
                Tổng tiền lương đã tích lũy
            </th>

            <th>
                Hành động
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ChamCongList)
        {
            <tr>
                <td>
                    <img src="~/images/@item.ProfilePicture"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />

                    

                </td>
                <td>

                    <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@item.Id" target="_blank">

                        @Html.DisplayFor(modelItem => item.LastName)
                        @Html.DisplayFor(modelItem => item.MiddleName)
                        @Html.DisplayFor(modelItem => item.FirstName)

                        &nbsp;
                        <span style="font-size: 0.5rem;">
                            <i class="fas fa-external-link-alt fa-sm"></i>
                        </span>
                    </a>
                    

                   
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TongSoGio.SoGio) giờ
                    @Html.DisplayFor(modelItem => item.TongSoGio.SoPhut) phút
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTienLuongCoBanDaTichLuyTrongThang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTienThuongDaTichLuyTrongThang)
                </td>
                <td>
                    @item.TongTienLuong
                </td>
                <td>
                    <a asp-controller="ChamCong" asp-action="LichSuChamCongList" class="btn btn-outline-info" asp-route-employeeId="@item.Id">
                        <i class="fa fa-info" aria-hidden="true"></i>
                        &nbsp;Lịch sử chấm công
                    </a>
                    @if (item.TongTienLuong ==0)
                    {
                        <span></span>
                    }

                    else if (item.TrangThaiXuatLuong == true)
                    {
                        <a asp-action="XuatLuong" asp-route-maNhanVienDuocXuatLuong="@item.Id" asp-route-selectedMonth="@Model.ViewForm.CurrentMonth" asp-route-selectedYear="@Model.ViewForm.CurrentYear" class="btn btn-outline-secondary">
                            <i class="fas fa-check" aria-hidden="true"></i>
                            &nbsp; Đã xuất lương
                        </a>
                    }
                    else
                    {
                        <a asp-action="XuatLuong" asp-route-maNhanVienDuocXuatLuong="@item.Id" asp-route-selectedMonth="@Model.ViewForm.CurrentMonth" asp-route-selectedYear="@Model.ViewForm.CurrentYear" class="btn btn-outline-primary">
                            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                            &nbsp; Xuất lương
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
