@model leave_management.Models.LichSuChamCongVM

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết Lịch sử chấm công</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVien)
        </dt>
        <dd class="col-sm-10">

            <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@Model.NhanVien.Id" target="_blank">



                <img src="~/images/@Model.NhanVien.ProfilePicture"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
                @Html.DisplayFor(model => model.NhanVien.LastName)
                @Html.DisplayFor(model => model.NhanVien.MiddleName)
                @Html.DisplayFor(model => model.NhanVien.FirstName)

                &nbsp;
                <span style="font-size: 0.5rem;">
                    <i class="fas fa-external-link-alt fa-sm"></i>
                </span>
            </a>

           
        </dd>
        <dt class="col-sm-2">
            <strong>Ngày</strong>
        </dt>
        <dd class="col-sm-10">
            @Model.ThoiGianBatDau.Date.ToShortDateString()
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDau.TimeOfDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianKetThuc.TimeOfDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiLichBieu.TenLoaiLichBieu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoaiLichBieu.TenLoaiLichBieu)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoTienThuongThem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoTienThuongThem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NhanVienThemVaoHeThong)
        </dt>
        <dd class="col-sm-10">

            <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@Model.NhanVienThemVaoHeThong.Id" target="_blank">

                <img src="~/images/@Model.NhanVienThemVaoHeThong.ProfilePicture"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
                @Html.DisplayFor(model => model.NhanVienThemVaoHeThong.LastName)
                @Html.DisplayFor(model => model.NhanVienThemVaoHeThong.MiddleName)
                @Html.DisplayFor(model => model.NhanVienThemVaoHeThong.FirstName)

                &nbsp;
                <span style="font-size: 0.5rem;">
                    <i class="fas fa-external-link-alt fa-sm"></i>
                </span>
            </a>

            
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThemVaoHeThong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayThemVaoHeThong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeSoLuongCoBan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeSoLuongCoBan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MucLuongCoBan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MucLuongCoBan)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
