@model leave_management.Models.NhatKyLamViecVM
@{
    ViewData["Title"] = "LichSuChamCongList";
}

<h1>Quản lý chấm công</h1>
<hr />
<h3>
    Nhân viên:

    <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@Model.NhanVien.Id" target="_blank">


        <img src="~/images/@Model.NhanVien.ProfilePicture"
             class="rounded-circle"
             height="60" width="60"
             asp-append-version="true" />
        @Model.NhanVien.LastName
        @Model.NhanVien.MiddleName
        @Model.NhanVien.FirstName

        &nbsp;
        <span style="font-size: 0.5rem;">
            <i class="fas fa-external-link-alt fa-sm"></i>
        </span>
    </a>

   
</h3>

<p>

    @if (User.IsInRole("Trưởng phòng") || User.IsInRole("Trưởng phòng nhân sự") || User.IsInRole("Quản trị viên"))
    {
        <a asp-action="Create" asp-route-employeeId="@Model.NhanVien.Id" class="btn btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Thêm chấm công
        </a>
    }

</p>

<h3>Lịch sử chấm công</h3>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Ngày
            </th>
            <th>
                Thời gian bắt đầu
            </th>
            <th>
                Thời gian kết thúc
            </th>
            <th>
                Loại lịch biểu
            </th>
            <th>
                Tổng tiền lương 
            </th>

            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LichSuChamCongVMs)
        {
            <tr>
                <td>
                    @item.ThoiGianBatDau.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianBatDau.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiGianKetThuc.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiLichBieu.TenLoaiLichBieu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTienLuong)
                </td>
                <td>


                    @*<a asp-controller="ChamCong" asp-action="Delete" class="btn btn-danger" asp-route-employeeId="@item.NhanVien.Id" asp-route-thoiGianBatDau="@item.ThoiGianBatDau"
           onclick="return confirm('Bạn có chắc muốn xóa record này?')">
            <i class="fas fa-trash" aria-hidden="true"></i>
             Xóa
        </a>*@
                    @*<a class="btn btn-outline-primary" asp-controller="ChamCong" asp-action="Details" asp-route-id="@item.">
            <i class="fa fa-file"></i>
            Chi tiết
        </a>*@

                    <span>
                        <i class="fas fa-file" aria-hidden="true"></i>
                        @Html.ActionLink("Chi tiết", "Details", "ChamCong", new { employeeId = item.NhanVien.Id, thoiGianBatDau = item.ThoiGianBatDau }, new { @class = "btn btn-outline-primary" })
                    </span>




                    @if (User.IsInRole("Quản trị viên") || User.IsInRole("Trưởng phòng") || User.IsInRole("Trưởng phòng nhân sự"))
                    {
                        <span btn btn-danger>
                            <i class="fas fa-trash" aria-hidden="true"></i>
                            @Html.ActionLink("Xóa", "Delete", "ChamCong", new { employeeId = item.NhanVien.Id, thoiGianBatDau = item.ThoiGianBatDau }, new { @class = "btn btn-danger", onclick = "return confirm('Bạn có chắc muốn xóa record này?')" })
                        </span>
                    }
                   
                    @*<a asp-action="Cancelled" title="Cancelled" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Bạn có chắc bạn muốn hủy yêu cầu này?')">
            <i class="fa fa-ban" aria-hidden="true"></i>
            Hủy
        </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<br />
    <h3>Nhật ký nghỉ phép</h3>
<br />


<table id="TABLE_1" class="table">
    <thead>
        <tr>
            <th>
                Loại nghỉ phép
            </th>
            <th>
                Ngày bắt đầu
            </th>
            <th>
                Ngày kết thúc
            </th>

            <th>
                Ngày yêu cầu
            </th>
            <th>
                Ngày duyệt
            </th>
            <th>
                Trạng thái
            </th>

            <th>
                Được đồng ý bởi
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequestVMs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateActioned)
                </td>
                <td>
                    @if (item.Cancelled == true)
                    {
                        <span class="badge badge-secondary">
                            <i class="fa fa-ban" aria-hidden="true"></i>
                            Đã hủy
                        </span>
                    }
                    else if (item.Approved == true )
                    {
                        <span class="badge badge-primary">
                            <i class="fa fa-check"></i>
                            Đã được thực thi
                        </span>
                    }

                    // Nếu một trong các trường hợp dưới đây xảy ra, thì bị lỗi.
                    else if (item.Approved == true)
                    {
                        <span class="badge badge-success">
                            <i class="fa fa-check"></i>
                            Đã được chấp thuận
                        </span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">
                            <i class="fa fa-times"></i>
                            Đã bị từ chối
                        </span>
                    }
                    else
                    {
                        <span class="badge badge-warning">
                            <i class="fa fa-clock-o"></i>
                            Đang chờ
                        </span>
                    }
                </td>

                <td>

                    <a asp-controller="PublicInfo" asp-action="Employee" asp-route-id="@item.ApproveBy.Id" target="_blank">


                        <img src="~/images/@item.ApproveBy.ProfilePicture"
                             class="rounded-circle"
                             height="40" width="40"
                             asp-append-version="true" />
                        @item.ApproveBy.LastName
                        @item.ApproveBy.MiddleName
                        @item.ApproveBy.FirstName

                        &nbsp;
                        <span style="font-size: 0.5rem;">
                            <i class="fas fa-external-link-alt fa-sm"></i>
                        </span>
                    </a>

                   
                </td>
                
            </tr>
        }
    </tbody>
</table>
